<html>
<head>
    <meta charset="utf-8" />
    <title>遷移先</title>
    <style type="text/css">
    body {
  background: #fffaf1;
}
</style>

</head>
<body>
    <table>
      <h1>都市名 {{ player1 }}</h1>

        <br>
        <br>
        <h1>天気　{{ player2 }}</h1>
        <br>
        <br>
        <h1>現在の気温　{{ player3 }}</h1>
        <br>
        <br>
        <h1>最高気温　{{ player4 }}</h1>
        <br>
        <br>
        <h1>最低気温　{{ player5 }}</h1>
        <br>
        <br>
        <h1>湿度　{{ player6 }}</h1>
        <br>
        <br>
        <h1>気圧　{{ player7 }}</h1>
        <br>
        <br>
        <h1>風速　{{ player8 }}</h1>

    </table>
    <a href="{% url 'text:ret' %}">トップに戻る</a>
</body>
</html>
