
<style>
  h1{position: relative;
  padding: 0.5em;
  background: rgb(199, 56, 151);
  color: white;}
  h1:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(58, 2, 39);
}

input {
  padding: 15px 35px;
  margin: 10px;
  background: #fff;
  border-radius: 100vh;
}
input:hover {
  background: #eee;
}
input:before {
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  content: "";
  transition: all 0.3s ease;
  border: 3px solid #333;
  border-radius: 100vh;
}
input:hover:before {
  top: 0;
  left: 0;
}
</style>

{% if question.votes == 0 %}

    <h1>{{question.question_text}}</h1>

<form action="{% url 'text:textva' question.id %}" method="post">{% csrf_token %}



<input type="submit" value="{{question.ans1}}">
</form>
<form action="{% url 'text:textvb' question.id %}" method="post">{% csrf_token %}



  <input type="submit" value="{{question.ans2}}">
</form>

{% else %}

    <h1>{{question.question_text}}</h1>

<form action="{% url 'text:textvb' question.id %}" method="post">{% csrf_token %}



  <input type="submit" value="{{question.ans2}}">
</form>

<form action="{% url 'text:textva' question.id %}" method="post">{% csrf_token %}



<input type="submit" value="{{question.ans1}}">
</form>
{% endif %}
